.support-menu * {margin: 0;padding: 0;outline: none;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
div.support-menu {
    position: fixed;
    top: 0;
    left: 5%;
    right: 74%;
    bottom: 0;
}
nav{
    background-color: rgb(255,255,255) ;
    
      background-repeat: no-repeat;
    background-position: left bottom;
    margin-left: 20px;
    background-attachment: fixed;
     background-size: 30% 300px ;
      padding:30px;
      color: black;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
      text-align: center;
      text-decoration: none;
      font-size: 20px;
    }
.support-menu nav.vertical {border-radius: 4px;box-shadow: 0 0 10px rgba(0,0,0,.15);overflow: hidden;text-align: center;height: 100vh;}
.support-menu nav.vertical > ul {list-style-type: none;}
.support-menu nav.vertical > ul > li {display: block;}
.support-menu nav.vertical > ul > li > a {background-color: rgb(157, 34, 60);background-image: -webkit-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));background-image: -moz-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));background-image: -o-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));background-image: linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));border-bottom: 1px solid rgba(255,255,255,.1);box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);color: rgb(255,255,255);display: block;font-size: .85rem;font-weight: 500;height: 50px;letter-spacing: .5rem;line-height: 50px;text-shadow: 0 1px 1px rgba(0,0,0,.1);text-transform: uppercase;transition: all .1s ease;text-decoration: none;}
.support-menu nav.vertical > ul > li > a:hover {background-color: rgb(114, 51, 98);background-image: -webkit-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));background-image: -moz-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));background-image: -o-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));background-image: linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98)); cursor: pointer;}

/*subbar
*/
.support-menu nav.vertical > ul > li > div {background-color: rgb(255,255,255);}
.support-menu nav.vertical > ul > li > div > ul {list-style-type: none;}
.support-menu nav.vertical > ul > li > div > ul > li > a {background-color: rgb(255,255,255);border-bottom: 1px solid rgba(0,0,0,.05);color: #333331;display: block;font-size: 1.1rem;padding: 10px 0;text-decoration: none;transition: all 0.15s linear;}
.support-menu nav.vertical > ul > li > div > ul > li:hover > a {background-color: lightcoral;color: rgb(255,255,255);padding: 10px 0 10px 50px;}-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

/*
::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}

body {
  background: #111;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.horizontal-scroll-wrapper {
  position: absolute;
  display: block;
  left:10;
  width: calc(700px + 1px);
  max-height: 100%;
  margin: 0;
  padding-top: 1px;
  background-color: #abc;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transform: rotate(-90deg) translateY(-250px);
          transform: rotate(-90deg) translateY(-250px);
  -webkit-transform-origin: right top;
          transform-origin: right top;
}
.horizontal-scroll-wrapper > div {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: right top;
          transform-origin: right top;
}

.squares {
  background-color: white;
  min-width: 300px;
  margin: 5px;
  box-shadow: 3px 5px rgba(255,255,255,0.05)
}
.squares > div {
   width: $finalHeight;
    height: $finalHeight;
    margin: 10px 0;
}
*/
::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}

div{
  box-sizing:border-box;
}

body {
  background: #111;
}

.horizontal-scroll-wrapper{
/*  position:absolute;*/
  display:block;
  top:0;
  left:100px;
  height: 900px;
  width:500px;
  max-height:900px;
  margin:0;
  background-color:whitesmoke;
  overflow-y:auto;
  overflow-x:hidden;
  transform:rotate(-90deg) translateY(-100px);
  transform-origin:right top;
}
.horizontal-scroll-wrapper > div{
  display:block;
  padding:5px;
  background:#cab;
  transform:rotate(90deg);
  transform-origin: right top;
}

.squares{
  padding:60px 0 0 0;
}

.squares > div{
  width:60px;
  height:60px;
  margin:10px;
}

.rectangles{
  top:100px;
  padding:100px 0 0 0;
}
.rectangles > div{
  width:150px;
  height:360px;
  margin:50px 86%;
  padding:5px;
  background:#cab;
  transform:rotate(90deg) translateY(80px);
  transform-origin: right top;
}

